core_audit.module/Processes/Processes/Resubmission/Flow/main-Start-Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:bwCustomFunctions="java://com.tibco.tibcobw.customfunctions.bwCustomFunctions" xmlns:ns="http://www.tibco.com/pe/DeployedVarsType" xmlns:ns12="http://www.tibco.com/namespaces/tnt/plugins/jms" xmlns:ns2="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:ns5="http://www.dsip.com/ESB/framework/policies/audit_interface_v1" xmlns:ns6="http://www.dsip.com/ESB/framework/messaging/msg_header_v1" xmlns:ns7="http://www.dsip.com/ESB/framework/messaging/common_types_v1" xmlns:ns8="http://www.dsip.com/ESB/framework/messaging/data_access_v1" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx7="http://www.dsip.com/ESB/framework/exception_handling/svc_exception_v1" xmlns:pfx8="http://www.dsip.com/ESB/framework/context/process_context_v1" xmlns:pfx9="http://www.dsip.com/ESB/framework/messaging/xml_msg_v1" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/CORE_AUDIT/Processes/Resubmission/Flow/main-Start-Input.xsd">
    <xsd:element name="input">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="resubId" type="xsd:string"/>
                <xsd:element name="contextId" type="xsd:string"/>
                <xsd:element name="flowId" type="xsd:string"/>
                <xsd:element name="flowName" type="xsd:string"/>
                <xsd:element name="stepId" type="xsd:string"/>
                <xsd:element name="stepName" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
